body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: aquamarine;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}